/* Hero Section Styles */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url('../assets/bg/background-top.svg') no-repeat center center;
    padding: 100px 30px 30px;
    background-size: contain;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
}

.hero-content p {
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-video {
    background-color: #2563eb;
    color: #fff;
    border: none;
    padding: 14px 30px;
    font-weight: 600;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.play-video:hover {
    background-color: #fff;
    color: #2563eb;
    border: 2px solid #2563eb;
}

.learn-more {
    font-weight: 600;
    color: #374151;
    text-decoration: none;
    transition: color 0.3s ease;
}

.learn-more:hover {
    color: #2563eb;
}

.hero-icons-wrapper {
  position: relative;
  width: 500px;
  height: 446px;
}

.hero-icons {
  position: relative;
  width: 100%;
  height: 446px;
}

.icon-container {
  position: absolute;
  width: 80px;
  height: 80px;
  padding: 16px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-google { width: 60px; height: 60px; top: 60px; left: 64px; padding: 10px;} 
.icon-atlassian { top: 10px; left: 175px;}  
.icon-asana { top: 10px; left: 380px; } 
.icon-paypal { top: 172px; left: 44px; } 
.icon-weave { top: 172px; left: 262px; }
.icon-google-ads { width: 60px; height: 60px; top: 290px; left: 155px; padding: 10px;}
.icon-calendar { top: 310px; left: 364px; }

/* Keyframe Animations */
@keyframes fadeInLeft {
    0% { opacity: 0; transform: translateX(-50px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
    0% { opacity: 0; transform: translateX(50px); }
    100% { opacity: 1; transform: translateX(0); }
}

@media (min-width: 1024px) {
    .icon-left {
        animation: fadeInLeft 1s ease forwards;
    }

    .icon-right {
        animation: fadeInRight 1s ease forwards;
    }
    
}

