.hire-us {
  background-color: #20335B;
  color: white;
  padding: 100px 40px;
}

.hire-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex: 1 1;
}

/* Testimonial & Author Layout */
.testimonial-author-row {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.testimonial {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hire-us h2 {
  font-size: 26px;
}

.hire-left .subheading {
  font-size: 18px;
  font-weight: 500;
  color: #677788;
}

.hire-us-line {
  color: #FFFFFF;
  height: 1px;
  width: 100%;
  margin: auto;
}

blockquote {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: #FFFFFF;
}

.author {
  flex: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.author-info .name {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.author-info .role {
  font-size: 14px;
  color: #677788;
}

.author img {
  justify-self: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

/* Right Form Side */
.hire-form {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  font-size: 14px;
  color: black;
  margin-top: 40px;
}

.hire-form h3 {
  font-size: 16px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

input, select, textarea {
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #E6E8F2;
  font-size: 16px;
  box-sizing: border-box;
}

.form-row input,
.form-row select {
  flex: 1;
}

textarea {
  height: 150px;
  resize: vertical;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.checkbox-label {
  display: block;
  font-size: 14px;
  color: #828282;
  width: 100%;
  height: 100%;
}

.checkbox-label input[type="checkbox"] {
  justify-content: center;
  width: 25px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}


.privacy-links {
  display: flex;
  font-size: 14px;
  color: #677788;
  padding-left: 40px;
}

.privacy-links a {
  text-decoration: underline;
}

.privacy-links a:hover {
  color: #2476FF;
}

.submit-button {
  background-color: #2476FF;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(37, 99, 235, 0.4);
  transition: all 0.3s ease;
  align-self: center;
}

.submit-button:hover {
  background-color: white;
  color: #2563eb;
  border: 1px solid #2563eb;
}
