@media (min-width: 1024px) {

    /*========== TOP NAVIGATION ==========*/


    /*========== HERO SECTION ==========*/


    /*========== WHY SECTION ==========*/

    /*========== PRICING SECTION ==========*/

    /*========== HIRE US SECTION ==========*/

    /*========== FOOTER SECTION ==========*/




}

/* TABLET AND MOBILE */
@media (max-width: 1023px) {
  
    /*========== TOP NAVIGATION ==========*/
    .hamburger {
        display: block;
    }

    .nav-group {
        display: none;
    }
    /* create box shadow and freeze menu bar at top mobile devices */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
    
    /*========== HERO SECTION ==========*/


    /*========== WHY SECTION ==========*/

    /*========== PRICING SECTION ==========*/
    .pricing-container {
        flex-direction: column;
    }

    .pricing-box {
        box-shadow: none;
        text-align: center;
    }
    .play-button {
        width: auto;
    }
    /*========== HIRE US SECTION ==========*/
    .hire-container {
        flex-direction: column;
    }

    .testimonial-author-row {
        flex-direction: row; 
    }

    /*========== FOOTER SECTION ==========*/
    .footer-column a:hover {
        color: initial;
    }

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        gap: 80px;
    }

    .footer-column {
        flex-grow: 1;
    }
}
    /* MOBILE ONLY */
    @media (max-width: 767px) {
    /*========== TOP NAVIGATION ==========*/

    /*========== HERO SECTION ==========*/


    /*========== WHY SECTION ==========*/

    /*========== PRICING SECTION ==========*/
    .pricing-features {
        grid-template-columns: 1fr;
    }

    /*========== HIRE US SECTION ==========*/
    .form-row {
        flex-direction: column;
    }
    
    .hire-container {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .testimonial-author-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .author {
        align-items: center;
        margin-top: 60px;
    }

    .author-info .name,
    .author-info .role {
        text-align: center;
    }

    .checkbox-label {
        text-align: left;
        display: flex;
    }

    /*========== FOOTER SECTION ==========*/
    .footer-container,
    .footer-nav {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .footer-column ul li {
        display: flex;
        justify-content: center;
    }
}