.why {
  padding: 80px 40px;
  text-align: center;
  background-color: white;
}

.why-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}

.why-content p {
  font-size: 18px;
  color: #677788;
  max-width: 700px;
  margin: 0 auto 40px auto;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: relative;
}

/* Draw full background line */
.steps-container::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 80px;
  right: 80px;
  height: 1px;
  background-color: #e0e0e0;
  z-index: 0; /* behind everything */
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; /* above the line */
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #ECF2FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #2563eb;
  border-radius: 50%;
}

.label {
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
